#title {
    font-family: monospace;
    font-size: 48px;
}

canvas {
    border: 2px solid #000000;
    border-radius: 30px;
    margin: 10px;
}

.mybtn {
    width: 60px;
    height: 60px;
    background-color: white;
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
}

.mybtn:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.inline {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
}

.rotate {
    transform: rotate(135deg);
}

.mySelect {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}